*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside{
    display: flex;
    flex-direction: row;
    grid-gap: 3em;
    padding: 3em 0;
}